<div class="d-flex justify-content-center py-3 border-bottom">
  <a href="/" class="store-name link-dark">Todai Restaurant</a>
</div>
<header class="d-flex justify-content-center py-3 mb-4 border-bottom">
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/api/menu" class="nav-link px-2 link-dark">Menu</a></li>
    <li><a href="/location" class="nav-link px-2 link-dark">Location</a></li>
    <li><a href="/api/contact" class="nav-link px-2 link-dark">Contact</a></li>
  </ul>
</header>
