section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  padding:0;
}
section.totals {
  display: flex;
  flex-direction: column;
}
div.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.card-footer {
  padding: 0;
}
.price {
  font-size: medium;
}
div.items {
  margin: 0;
}
.quantity {
  margin-right: 1em;
}
.container {
  margin: 1em;
}
.fas {
  cursor: pointer;
}
#cart {
  margin-bottom: 6em;
}
