.store-name {
  font-size: 2.5em;
}

// Container of all displayed items
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 75px 0 75px 0;
}

// For items to be in grid pattern
// .items {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   text-align: center;
// }

// Section before the header
section {
  width: 100%;
  padding: 0.5em
}

// Contains the item (image, name/description, price)
div.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0 0.5em 0.5em 0.5em;
}

// Contains the image and name/description
span.item {
  display: flex;
  flex-direction: row;
}

// For each item picture
img.food {
  width: 150px;
  height: 150px;
  padding-right: 0.5em;
}

// Contains food name and description
.foodtext {
  display: flex;
  flex-direction: column;
}

// Food name
.foodname {
  font-size: 24pt;
}

// Food description
.fooddescription {
  font-size: 18pt;
}

// Food price
.price {
  font-size: 24pt;
}
